.whole_table {
    max-width: 805px;
    height: 439px;
    margin-left: 10%;
}

.panel-title {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    color: #8ab131;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.panel-default>.panel-heading {
    background-color: #f5f5f5;
}


/* debit and credit forms styling */

.debitform,
.creditform {
    max-width: 100px;
    height: 30px;
}

.debit_glform,
.credit_glform {
    max-width: 240px;
    height: 30px;
    margin-left: 160px;
    margin-top: -45px;
}

.debit_branch,
.credit_branch {
    max-width: 240px;
    height: 30px;
    margin-left: 465px;
    margin-top: -45px
}

.datepicker {
    max-width: 260px;
    height: 30px;
}

.notesform {
    max-width: 730px;
    max-height: 100px;
}


/* attaching a file btn */

.attach_file {
    border-radius: 2px;
    background-image: -moz-linear-gradient(100% 100% 90deg, #8ab131, #c7ff47);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#8AB131), to(#C7FF47));
    border: 1px solid #8ab131;
    color: #333;
    cursor: pointer;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    padding: 3px 15px;
    text-shadow: 0 0 1px white;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    max-width: 100px;
}


/* logging new journal entry btn */

.retriev_btn {
    border-radius: 2px;
    background-image: -moz-linear-gradient(100% 100% 90deg, #8ab131, #c7ff47);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#8AB131), to(#C7FF47));
    border: 1px solid #8ab131;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-right: 300px;
    padding: 3px 15px;
    text-shadow: 0 0 1px white;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    max-width: 180px;
    float: right;
    margin-top: 75px;
}

.cancel_btn {
    float: right;
    border-radius: 2px;
    background-image: -moz-linear-gradient(100% 100% 90deg, #8ab131, #c7ff47);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#8AB131), to(#C7FF47));
    border: 1px solid #8ab131;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    padding: 3px 15px;
    text-shadow: 0 0 1px white;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    background-image: -moz-linear-gradient(100% 100% 90deg, #edf3de, #fff);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#EDF3DE), to(#FFFFFF));
    border: 1px solid #ccc;
    color: #555;
    margin-top: 75px;
    margin-right: 15px;
}